<!DOCTYPE html>
<html>
<head>
  <title><%= @app_name %>Status</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="<%= @app_name %> Status">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
</head>

<body>
  <div class="container">
    <h1 class="text-center"><%= @app_name %> Status Page</h1>
    <table class="table table-hover table-bordered">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Service</th>
          <th scope="col">Status</th>
        </tr>
      </thead>
      <tbody>
        <% @statuses[:results].each_with_index do |status, index| %>
          <% class_name = status[:status].downcase == 'error' ? 'text-danger' : 'text-success' %>
          <tr>
            <th scope="row"><%= index + 1 %></th>
            <td> <%= status[:name] %></td>
            <td class="<%= class_name %>">
              <p><%= status[:status] %></p>
              <%= status[:message] %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>


    <!-- <div class="statuses">
      <h1><%= @app_name %> Status Page</h1>
      <% @statuses[:results].each do |status| %>
      <div class="status status-<%= status[:status].downcase %>">
        <div class="status-heading">
          <span class="name"><%= status[:name]  %></span>
          <span class="state"><%= status[:status] %></span>
        </div>
        <div class="message"><%= status[:message] %></div>
      </div>
      <% end %>
    </div> -->
    <div class="text-center">
      Powered by <a href="https://github.com/SiliconJungles/doctor-strange.git" target="_blank">Doctor Strange - SiliconJungles Team</a>
    </div>
  </div>
</body>
